<!DOCTYPE html>
<html>
  <head>
    <title>.
      app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to my App </p>  
      <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button id="sign-in" type="submit">Login</button>
      </form>
      <a href="/register">register here</a>
     
  </body>
</html>
