
<form action="/login" method="post">
	<input type="email" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<button id="sign-in" type="submit">Login</button>
</form>
<a href="/register">register here</a>
