
<form action="/register" method="post">
	<input type="email" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="passwordConfirm" placeholder="Confirm Password">
	<button type="submit">Register</button>
</form>